@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-white;
  }

  body {
    @apply bg-black text-white font-mono antialiased;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-600;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-500;
  }

  ::selection {
    @apply bg-white text-black;
  }
}
